
:root {
  background-color: #FDF1E8;
}
::-webkit-scrollbar {
  display: none;
}


.container-onePage {
  width: 100vw;
}


.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container-logo2 {
  width: 50%;
  text-align: center;
}


.logo_pasillos {
  width: 80%;
  text-align: center;
}
