body header{
   margin: 15px;
   background-color: aqua;
   padding: 0px 10px 10px 10px;

}
#FotoPersonal {
    width: 22%;
    border-radius: 47%;
    border: solid;
}

.experiencia {
    background-color: rgb(49, 158, 248);
    padding: 10px;
    
}